@using DSEDFinalProjectTripPlanner.Business
@using DSEDFinalProjectTripPlanner.DTO
@using Humanizer
@model DSEDFinalProjectTripPlanner.DTO.TripFlightDTO


@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Upcoming Trip";
}

<div class="header">
    <h1>@ViewData["Header"]</h1>



    <h2>@Html.DisplayFor(model => model.AllTrips.Name)</h2>
    <h3>
        @Html.DisplayFor(model => model.AllTrips.DestinationCity),
        @Html.DisplayFor(model => model.AllTrips.DestinationCountry) |
        @DatabaseManager.StartDate(Model.AllTrips.StartDate)
        -
        @DatabaseManager.StartDate(Model.AllTrips.FinishDate)
    </h3>

    <hr />
    @if (Model.AllTrips.Description != null)
    {
        @*this will ony display if Description contains something*@
        <div>

            <p>@Html.DisplayFor(model => model.AllTrips.Description)</p>

            <hr />
        </div>
    }
    <div>
        <a asp-action="Edit" asp-route-id="@Model.AllTrips.Id">Edit</a> |
        <a id="myBtn">Add Plans</a> |
        <a asp-action="Index">Back to List</a>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h3>Add Plans</h3>
                </div>
                <div class="modal-body col-md-6">
                    <h4>Transportation</h4>
                    <a asp-area="" asp-controller="Flights" asp-action="Create">Flight</a><br />
                    <a>Car Rental</a><br />
                    <a>Other Transportation</a>
                </div>
                <div class="modal-body col-md-6">
                    <h4>Activites</h4>
                    <a>Lodging</a><br />
                    <a>Car Rental</a><br />
                    <a>Restaurant</a><br />
                    <a>Activity</a>
                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
    <div class="flights">
        @*To Display the flights*@
        @foreach (var flight in Model.AllFlights)
        {
            @if (flight.TripId == DatabaseManager.TripId)
            {
                <div class="col-md-12">
                    <hr />
                    <div class="col-md-1">
                        <a asp-controller="Flights" asp-action="Edit" asp-route-id="@flight.Id">Edit</a><br />
                        <a asp-controller="Flights" asp-action="Details" asp-route-id="@flight.Id">Details</a><br />
                        <a asp-controller="Flights" asp-action="Delete" asp-route-id="@flight.Id">Delete</a>
                    </div>

                    <div class="col-md-11">
                        <div class="col-md-12">
                            <div class="flightDetails">
                                <h5>
                                    @DatabaseManager.DepartureDate(flight.DepartureDate)
                                </h5>
                                <h4>
                                    @Html.DisplayFor(modelItem => flight.DepartureFrom) to
                                    @Html.DisplayFor(modelItem => flight.ArrivalTo) |
                                    @Html.DisplayFor(modelItem => flight.Airline)
                                    @Html.DisplayFor(modelItem => flight.FlightNumber)
                                </h4>
                                <p>
                                    Confirmation Number: @Html.DisplayFor(modelItem => flight.ConfirmationNumber)
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <div class="col-md-12 bold">
                                    <p>Depart:</p>
                                </div>

                                <div class="col-md-2">
                                    <p>
                                        @DatabaseManager.DepartureTime(flight.DepartureTime)
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        @Html.DisplayFor(modelItem => flight.DepartureFrom)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Terminal: @Html.DisplayFor(modelItem => flight.DepartureTerminal)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Gate: @Html.DisplayFor(modelItem => flight.DepartureGate)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-12">
                            <div>
                                <div class="col-md-12 bold">
                                    <p>Arrive:</p>
                                </div>

                                <div class="col-md-2">
                                    <p>
                                        @DatabaseManager.DepartureTime(flight.ArrivalTime)
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        @Html.DisplayFor(modelItem => flight.ArrivalTo)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Terminal: @Html.DisplayFor(modelItem => flight.ArrivalTerminal)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Gate: @Html.DisplayFor(modelItem => flight.ArrivalGate)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="Duration">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-4">
                                    <p>
                                        @*Duration: @DatabaseManager.FlightDuration(item.ArrivalTime, item.DepartureTime)*@
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Seats: @Html.DisplayFor(modelItem => flight.Seats)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>






