@using DSEDFinalProjectTripPlanner.Business
@using Humanizer
@model DSEDFinalProjectTripPlanner.Models.Trip

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Upcoming Trip";

    Trip _myTrip = new Trip();
}

<div class="header">
    <h1>@ViewData["Header"]</h1>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h3>
        @Html.DisplayFor(model => model.DestinationCity),
        @Html.DisplayFor(model => model.DestinationCountry) |
        @DatabaseManager.StartDate(Model.StartDate)
        -
        @DatabaseManager.StartDate(Model.FinishDate)
    </h3>
</div>
<hr />
@if (Model.Description != null)
{@*this will ony display if Description contains something*@
<div>

    <p>@Html.DisplayFor(model => model.Description)</p>
    <hr />

</div>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="Flights" asp-action="Create">New Flight</a> |
    <a asp-action="Index">Back to List</a>
</div>
