@using DSEDFinalProjectTripPlanner.Business
@model IEnumerable<DSEDFinalProjectTripPlanner.Models.Trip>

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Upcoming Trips";
}

<div class="header">
    <h1>@ViewData["Header"]</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="col-md-12">
        <div class="destination">
            <hr />
            <div class="col-md-7">
                <h3>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </h3>
            </div>
            <div class="col-md-5">
                <p>@Html.DisplayFor(modelItem => item.DestinationCity), @Html.DisplayFor(modelItem => item.DestinationCountry)</p>
                <p>
                    @Html.DisplayFor(modelItem => item.StartDate.Day)/@Html.DisplayFor(modelItem => item.StartDate.Month)/@Html.DisplayFor(modelItem => item.StartDate.Year)
                    -
                    @Html.DisplayFor(modelItem => item.FinishDate.Day)/@Html.DisplayFor(modelItem => item.FinishDate.Month)/@Html.DisplayFor(modelItem => item.FinishDate.Year)
                </p>
                <p>
                    @* @Html.DisplayFor(modelItem => item.TotalDaysAway)*@
                    @DatabaseManager.NumOfDays(item.FinishDate, item.StartDate) days, @DatabaseManager.NumOfDaysToGo(item.StartDate, DateTime.Now) days to go.
                </p>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </p>
            </div>
        </div>
    </div>

    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>*@
}
@*</tbody>
    </table>*@

@*@{
        Trip _myTrip = new Trip();
        _myTrip.StartDate.ToShortDateString();
    }*@
