@using DSEDFinalProjectTripPlanner.Business
@model DSEDFinalProjectTripPlanner.Models.Flight

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Flights";
}

<div class="header">
    <h1>@ViewData["Header"]</h1>
</div>
<hr />

<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="flightDetails">
                <h5>
                    @DatabaseManager.DepartureDate(Model.DepartureDate)
                </h5>
                <h4>
                    @Html.DisplayFor(model => model.DepartureFrom) to
                    @Html.DisplayFor(model => model.ArrivalTo) |
                    @Html.DisplayFor(model => model.Airline)
                    @Html.DisplayFor(model => model.FlightNumber)
                </h4>
                <p>
                    Confirmation Number: @Html.DisplayFor(model => model.ConfirmationNumber)
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="Departure">
                <div class="col-md-12">
                    <label>Depart:</label>
                </div>

                <div class="col-md-2">
                    <p>
                        @DatabaseManager.DepartureTime(Model.DepartureTime)
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        @Html.DisplayFor(model => model.DepartureFrom)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Terminal: @Html.DisplayFor(model => model.DepartureTerminal)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Gate: @Html.DisplayFor(model => model.DepartureGate)
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-md-12">
            <div class="Arrival">
                <div class="col-md-12">
                    <label>Arrive:</label>
                </div>

                <div class="col-md-2">
                    <p>
                        @DatabaseManager.DepartureTime(Model.ArrivalTime)
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        @Html.DisplayFor(model => model.ArrivalTo)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Terminal: @Html.DisplayFor(model => model.ArrivalTerminal)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Gate: @Html.DisplayFor(model => model.ArrivalGate)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="Duration">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <p>
                        @*Duration: @DatabaseManager.FlightDuration(item.ArrivalTime, item.DepartureTime)*@
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Seats: @Html.DisplayFor(model => model.Seats)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>



</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-area="" asp-controller="Humans" asp-action="Create">Add Passenger</a> |
        <a asp-area="" asp-controller="Trips" asp-action="Details/@DatabaseManager.TripId">
            Back to List
        </a>
    </p>
</div>
