@model DSEDFinalProjectTripPlanner.DTO.TripDTO

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.TypeOfActivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.TypeOfActivity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.ConfirmationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.ConfirmationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Suburb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Suburb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.NumOfPeopleAttending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.NumOfPeopleAttending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyActivity.TripId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyActivity.TripId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MyActivity.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
